.nous-rejoindre .content_purpose_2 {
  margin: 2em 0;
  padding: 2em;
}
@media (min-width: 48em) {
  .nous-rejoindre .content_purpose_2 {
    padding: 3em;
  }
}
.nous-rejoindre .content_purpose_2 .text_description {
  font-size: 1em;
}
.nous-rejoindre .content_purpose_2 .just {
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
  padding-bottom: 1em;
}
.nous-rejoindre .content_purpose_2 .just:last-child {
  padding-bottom: 0;
}
.nous-rejoindre .liste {
  padding-top: 3em;
  color: #016099;
  font-family: "Montserrat", sans-serif;
}
.nous-rejoindre .container-application {
  margin-top: 15px;
  margin-bottom: 45px;
}
.nous-rejoindre .container-application__required {
  font-size: 13px;
  color: red;
  display: none;
}
.nous-rejoindre .container-application input[type=file] {
  display: none;
}
.nous-rejoindre .container-application__message {
  width: 100%;
}
.nous-rejoindre .container-application__file-input {
  cursor: pointer;
}
.nous-rejoindre .container-application__failure, .nous-rejoindre .container-application__success {
  margin-top: 15px;
}
.nous-rejoindre .container-application__submit-container {
  display: flex;
}
.nous-rejoindre .container-application__submit-container__btn {
  cursor: pointer;
  margin-left: auto;
}
@media (min-width: 48em) {
  .nous-rejoindre .container-application__files {
    display: flex;
  }
}
@media (min-width: 48em) {
  .nous-rejoindre .container-application__files-button {
    margin-left: 1em;
  }
  .nous-rejoindre .container-application__files-button:first-child {
    margin-left: 0;
  }
}
.nous-rejoindre .container-application input[type=checkbox],
.nous-rejoindre .container-application input[type=radio] {
  width: auto;
}
.nous-rejoindre .container-application input[type=text],
.nous-rejoindre .container-application input[type=email],
.nous-rejoindre .container-application .container-application__file-input {
  width: 100%;
  font-size: 1em;
}
.nous-rejoindre .container-application input[type=text]:focus,
.nous-rejoindre .container-application input[type=email]:focus,
.nous-rejoindre .container-application .container-application__file-input:focus {
  border: 3px solid #016099;
  color: #016099;
}
.nous-rejoindre .container-application__file-input {
  font-size: 12px;
  padding: 10px 1em;
}
.nous-rejoindre .container-application__file-input:hover {
  color: white;
}
.nous-rejoindre .jobs_zone_3__videos-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1em;
  width: 100%;
  padding: 0 1em;
  margin-bottom: 2em;
}
@media (min-width: 48em) {
  .nous-rejoindre .jobs_zone_3__videos-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}
@media (min-width: 75em) {
  .nous-rejoindre .jobs_zone_3__videos-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.nous-rejoindre .jobs_zone_3__quote {
  padding: 0 1em;
  margin: 0 0 1em;
}
@media (min-width: 48em) {
  .nous-rejoindre .jobs_zone_3__quote {
    padding: 0;
  }
}
.nous-rejoindre .jobs_zone_2__legendes {
  width: 100%;
}
.nous-rejoindre .jobs_zone_2__legende {
  color: #016099;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0;
}
@media (min-width: 48em) {
  .nous-rejoindre .jobs_zone_2__legende {
    font-size: 1em;
  }
}
.nous-rejoindre .jobs_zone_2__legende:nth-child(3) {
  padding-left: 3em;
}
.nous-rejoindre .jobs_zone_2__legende:last-child {
  padding-left: 3em;
}
@media (min-width: 48em) {
  .nous-rejoindre .jobs_zone_2__legende:last-child {
    padding-left: 5.5em;
  }
}
.nous-rejoindre .nous-rejoindre__job-list {
  list-style-type: disc;
  margin-left: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.nous-rejoindre .nous-rejoindre__job-list li {
  margin-bottom: 1rem;
}
.nous-rejoindre .nous-rejoindre__job-list li a {
  color: #707070;
}

/*# sourceMappingURL=nous-rejoindre.css.map */
